/*
    NAVBAR 
*/
nav {
    background-color: beige;
    box-shadow: 3px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li {
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav div {
    height: 100%;

    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}


nav a:hover{
    background-color: aliceblue;
}

nav li:first-child{
    margin-right: auto;
}

/*
    SIDEBAR
*/
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.365);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transition: 0.5s;
}

.sidebar div a {
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    justify-content: center;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

@media (max-width: 1000px){
    .sidebar {
        width: 100px;
    }
}