@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root {
    --primary-color: blue;
    --secondary-color: red;
    /* Other custom properties for style.css */
}

/*
    MAIN STYLE
*/
* {
    margin: 0;
    padding: 0;

    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;

    background-color:floralwhite;

}

main {
    min-height: 100vh;
}

/*
    HEADER 
*/

/* Navbar */
nav {
    background-color: beige;
    box-shadow: 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

nav li {
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 20px;
    margin: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

nav div {
    height: 100%;

    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav li:first-child{
    margin-right: auto;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    z-index: 999;

    background-color: rgba(255, 255, 255, 0.365);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    transition: 0.75s;
}

.sidebar li:first-child{
    justify-content: flex-start;
}

.sidebar .sidebar-icons a,
.sidebar .sidebar-social a {
    height: 100%;
    width: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    width: 100%;
}

.sidebar a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#open-sidebar {
    display: none;
}

/*
    FOOTER
*/
footer {
    background-color:bisque;
    padding: 1rem 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    list-style: none;
}

footer ul li {
    padding: 1em;
}

footer ul a {
    padding: 1rem 0;
    text-decoration: none;
}

footer .social a{
    margin: 0 0.5rem;
}

/*
    MEDIA
*/

/* Medium devices */
@media (max-width: 1000px){
    .hide-on-medium-dev {
        display: none;
    }

    #open-sidebar {
        display: block;
    }
    
    nav a {
        padding: 0 15px;
    }
}

/* Small devices */
@media (max-width: 450px){
    .hide-on-small-dev {
        display: none;
    }
    nav a {
        padding: 0 8px;
    }
}