@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root {
    --primary-color: blue;
    --secondary-color: red;
    /* Other custom properties for style.css */
}

/* MAIN STYLE */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;

    background-color:floralwhite;

}

main {
    min-height: 100vh;
    max-width: 800px;
    padding: 2em;
    padding-bottom: 1em !important;
    margin: 0 auto;
}

section {
    padding: 1em 0;
    /*
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    */
}

h1 {
    font-size: 40px;
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

hr {
    height: 1px;
    color: #ed1d61;
    background: #ed1d61;
    font-size: 0;
    border: 0;
}

/* INTRO SECTION */
#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
}

#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

/* TECH STACK */
#tech-stack-skills {
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 0.9em;
    margin-top: 1em;
}

.tech-stack-card {
    border: 1px solid red;
    border-radius: 10px;
    padding: 0.5em 1em;
    align-items: center;
}

/* GENERAL CONTENT */
.content-wrapper {
    margin-top: 0.5em;
    margin-bottom: 1em;

    display: flex;
    flex-flow: row;
    gap: 8em;
}

.content-wrapper:last-of-type {
    margin-bottom: 0.5rem;
}

/* HEADER */


/* FOOTER */
footer {
    background-color:bisque;
    padding: 1rem 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    list-style: none;
}

footer ul li {
    padding: 1em;
}

footer ul a {
    padding: 1rem 0;
    text-decoration: none;
}

footer .social a{
    margin: 0 0.5rem;
}

.copyright, .copyright-year {
    height: 5%;
    color: gray !important;
}

/* MEDIA */

/* Medium devices */
@media (max-width: 1000px){
    .hide-on-medium-dev {
        display: none;
    }

}

/* Small devices */
@media (max-width: 600px){
    #intro {
        flex-direction: column;
    }

    .hide-on-small-dev {
        display: none;
    }
}