@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');

:root {
    --primary-color: blue;
    --secondary-color: red;
    /* Other custom properties for style.css */
}

/*
    MAIN STYLE
*/
* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-family: 'Ubuntu', sans-serif;
    text-align: justify;

    background-color:floralwhite;

}

main {
    min-height: 100vh;
    max-width: 800px;
    padding: 2rem;
    padding-bottom: 1rem !important;
    margin: 0 auto;
}

section {
    padding: 1rem 0;
}

h1 {
    font-size: 40px;
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
}


/*
    HEADER 
*/


/*
    FOOTER
*/
footer {
    background-color:bisque;
    padding: 1rem 0;
}

footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    list-style: none;
}

footer ul li {
    padding: 1em;
}

footer ul a {
    padding: 1rem 0;
    text-decoration: none;
}

footer .social a{
    margin: 0 0.5rem;
}

.copyright, .copyright-year {
    height: 5%;
    color: gray !important;
}
/*
    MEDIA
*/

/* Medium devices */
@media (max-width: 1000px){
    .hide-on-medium-dev {
        display: none;
    }

}

/* Small devices */
@media (max-width: 600px){
    #intro {
        flex-direction: column;
    }

    .hide-on-small-dev {
        display: none;
    }
}